<!DOCTYPE html>
<html>

<head>
    <title>
        login page
    </title>
    <meta name="viewport" content="width=device-width,intial-scale=1.0">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
</head>

<body>
    <div class="container">
        <h1>LOGIN PAGE</h1>
        <br>
        <form align="center" Style="padding-top:250px" ; method="POST" name="form">
            <label> username:</label>
            <input type="text" name="username" value="{{request.form.username}}" style="color:hotpink;" required />
            <br />
            <p style="color:hotpink;" class="usermessage"></p><br />
            <label>password:</label>
            <input type="password" name="password" value="{{request.form.username}}" style="color:hotpink;"
                required /><br />
            <p style="color:hotpink;" class="passmessage"></p><br />
            <button type="submit" formmethod="POST" onclick="return validateForm()"
                formaction="{{ url_for('userDetails') }}"> login </button>
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp;
            &nbsp;&nbsp;
        </form>



    </div>

</body>

</html>