<!DOCTYPE html>
<html class="no-js">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{username}}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href=" https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />

<body>
    <div class="alert alert-success" role="alert">
        <h2>{{message}}</h2>
        <h2>
            username:{{username}}

        </h2>
        <form>
            <button class="btn btn-success" type="submit" formmethod="POST" onclick="return validateForm()"
                formaction="{{ url_for('logout',username=username) }}">Logout</button>
            <button class="btn btn-success" type="submit" formmethod="GET" onclick="return validateForm()"
                formaction="{{ url_for('search',username=username) }}">Search</button>
        </form>






</body>

</html>